/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: black;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  margin: 20px;
}
.text-container {
  background: red;
  margin: 10px;
}
p1 {
  color: red;
  font-size: 20px;
  background: ;
  text-align: ;
}
div.sticky {
  position: sticky;
  top: 40px;
  background: ;
  font-size: 12pt;
  font-weight: ;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
a:link, a:visited {
  color: white;
  background:;
  text-decoration: none;
  padding: 5px;
}
a.home:hover, a.links:hover {
  color: black;
  background: white;
  padding: 5px;
}
a.links {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}
img.AKRD-img {
  width: 400px;
  margin: 10px;
}
a.AKRD-a:hover {
  opacity: 50%;
  color: red;
}
